{% extends 'base.html' %}

{% block head %}
<title>Home</title> 
{% endblock %}

{% block body %}
<div class="content">
    <span class="first_header"><h1>Home Page</h1></span>
    <div class="all_content">
        <span class="second_header"><h1>Welcome</h1></span>
        <p>Welcome to the Anass Blog! Here we'll be talking about everything computer science. Basics, framesworkds, machine learning, other data science stuff, any new tech or findings, and pretty much anything computer science related.</p>

        <span class="second_paragraphe"><p>Go visit us at our website <a href="https://anassox.blogspot.com/" target="_blank">anassox.blogspot.com</a> to check out more cool stuff beyond just blogs.</p></span>
        <p>
            <a class="btn-primary" href="/posts/new" role="button">Go To Posts &raquo;</a>
        </p>
    </div>
</div>
{% endblock %}
